body{
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.post{
    background-color: white;
    width: 600px;
}
.post-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;

}
img{
    width: 100%;

}
.post-footer{
    padding: 0px 10px;
}